button {
  background-color: #d1f3ff;
  border: 1px solid #8adcfb;
  color: #003366;
  font-size: 13pt;
  padding: 7px;
  margin-left: 25px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
